html, body {
    margin:0;
}

main {
    height:50vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

button {
    padding:10px;
    font-weight: bold;
}

article {
    display: none;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
